body{
    background-color:rgb(250,242,227);
}
.header .image-box{
    margin: 26px auto;
    width: 140px;
    height: 140px;
    border-radius: 50%;
    background-image: url(download.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}
.header h1{
    position: absolute;
    margin-top: 20px;
    margin-left:110px;
    padding-left: 450px;
    padding-right: 300px;
    text-transform: uppercase;
    border-bottom: 3px solid #57b1dc;
}
.hero-content{
    width: 100%;
    margin-top: 100px;
}
.hero-content h3{
    color: #d1633c;
    padding: 10px 110px;
}
.hero-content p{
    padding: 5px 110px;
    color: rgb(98,80,56);
    font-size: 23px;
}